# 这个文件用于告诉 Git 哪些文件或目录应该被忽略，不进行版本控制（说人话就是指定哪些文件不进入存档，git工具都当它不存在，不会提交）
# 这个文件用于告诉 Git 哪些文件或目录应该被忽略，不进行版本控制（说人话就是指定哪些文件不进入存档，git工具都当它不存在，不会提交）
# 这个文件用于告诉 Git 哪些文件或目录应该被忽略，不进行版本控制（说人话就是指定哪些文件不进入存档，git工具都当它不存在，不会提交）

# 说明：
# 1. 以"#"开头的行是注释
# 2. 可以使用通配符：* 匹配零个或多个字符，? 匹配一个字符，[abc] 匹配a、b或c
# 3. 以"/"开头表示目录，以"/"结尾也表示目录
# 4. 以"!"开头表示取反，即不忽略匹配的文件

# 企业真实项目，这个文件不需要自己创建！！！
# 企业真实项目，这个文件不需要自己创建！！！
# 企业真实项目，这个文件不需要自己创建！！！
# 如果遇到需要忽略的文件，但是不会写格式，可以去询问大模型比如 DeepSeek 就行了

# 我都懒得自己记住这些规则，大模型帮我写就行
# 我都懒得自己记住这些规则，大模型帮我写就行
# 我都懒得自己记住这些规则，大模型帮我写就行


# 举一些例子，匹配的文件或者目录，git工具都当它不存在，不信你试试
# 举例1：忽略rar、mp3、mp4文件
*.rar
*.mp3
*.mp4
# 举例2：忽略毛毛熊开发的功能 目录
/毛毛熊开发的功能        
# 举例3：忽略毛毛熊开发的功能 目录下的所有文件
/毛毛熊开发的功能/*
# 举例4：忽略毛毛熊开发的功能 目录及其子目录下的所有文件
/毛毛熊开发的功能/**
