# 这个文件用于告诉 Git 哪些文件或目录应该被忽略，不进行版本控制（说人话就是指定哪些文件不进入存档，git工具都当它不存在，不会提交）
# 这个文件用于告诉 Git 哪些文件或目录应该被忽略，不进行版本控制（说人话就是指定哪些文件不进入存档，git工具都当它不存在，不会提交）
# 这个文件用于告诉 Git 哪些文件或目录应该被忽略，不进行版本控制（说人话就是指定哪些文件不进入存档，git工具都当它不存在，不会提交）

# 说明：
# 1. 以"#"开头的行是注释
# 2. 可以使用通配符：* 匹配零个或多个字符，? 匹配一个字符，[abc] 匹配a、b或c
# 3. 以"/"开头表示目录，以"/"结尾也表示目录
# 4. 以"!"开头表示取反，即不忽略匹配的文件

# 企业真实项目，这个文件不需要自己创建！！！
# 企业真实项目，这个文件不需要自己创建！！！
# 企业真实项目，这个文件不需要自己创建！！！
# 如果遇到需要忽略的文件，但是不会写格式，可以去询问大模型比如 DeepSeek 就行了

# 我都懒得自己记住这些规则，大模型帮我写就行
# 我都懒得自己记住这些规则，大模型帮我写就行
# 我都懒得自己记住这些规则，大模型帮我写就行


# 举一些例子，匹配的文件或者目录，git工具都当它不存在，不信你试试
/某个要被忽略的目录    # 自定义忽略的目录
*.zip         # 忽略 zip 文件
*.rar         # 忽略 rar 文件
*.7z          # 忽略 7z 文件
*.mp3         # 忽略 mp3 文件
*.mp4         # 忽略 mp4 文件
/secret       # 忽略 secret 目录
/secret/*     # 忽略 secret 目录下的所有文件
/secret/**    # 忽略 secret 目录及其子目录下的所有文件